
/*! ========================================================================== */
/*  -------------------------------------#footer------------------------------ */
/*! ========================================================================== */

.footer {
    height: 15rem;
    padding: 1rem;
    background-color: var(--bg-nav);
    background-attachment: fixed;
  width: 100lvw;
  }
  .footer li {
    list-style-type: none;
  }
  .upper_footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.8rem;
  }
  
  .upper_footer h4 {
    color: var(--p-white);
    font-size: 1.4rem;
    padding: 0.2rem;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    align-self: start;
  }
  
  .upper_footer .section1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.8rem;
    width: 33.33%;
  }
  
  .upper_footer.section2 {
    width: 33.33%;
  }
  
  .upper_footer li,
  .upper_footer a {
    color: var(--p-white);
    font-size: 0.7rem;
    padding: 0.2rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
  }
  
  .footer .section2 a {
    text-decoration: none;
  }
  
  f.ooter .section2 a:hover {
    text-decoration: underline;
  }
  
  .footer .section3 p {
    color: var(--p-white);
    font-size: 0.7rem;
    padding: 0.6rem;
    line-height: 1.2rem;
    letter-spacing: 0.1rem;
  }
  
  .footer .section3 {
    width: 33.33%;
  }
  
  .lower_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14rem;
    margin-top: 2rem;
  }
  
  .lower_footer .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  
  .lower_footer .section2 .links {
    width: 2.7rem;
    height: 2.7rem;
    display: grid;
    place-items: center;
    font-style: 1rem;
    background-color: var(--bg-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  
  .lower_footer .section1 {
    color: var(--p-white);
    font-size: 0.7rem;
    padding: 0.2rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
  }  

  @media (width <=450px) {
    .lower_footer {
      gap: 2rem;
    }
  }
  